<main id="main" class="main">
    <div class="pagetitle">
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-12">
             <div class="card">
                <div class="card-body">
                   <h1 class="card-title">Affiliate</h1>
                   <div class="row">
                     <div class="col-lg-12">
                        <div style="overflow-x:auto;">
                            <div ng-view="" class="ng-scope">
                                <script type="text/javascript" class="ng-scope">
                                    $(document).ready(function () {
                                        $("#myInput").on("keyup", function () {
                                            var value = $(this).val().toLowerCase();
                                            $("#datatable tbody tr").filter(function () {
                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                            });
                                        });
                                    });
                                    $('#ok_box').hide();
                                    $('#confirm_btn').click(function () {
                                        $('#confirm_box').hide()
                                        //$('#ok_box').show();
                                
                                    })
                                    $('#cancel_btn').click(function () {
                                        $('#confirm_box, #ok_box').hide();
                                
                                    })
                                    $('#ok_btn').click(function () {
                                        $('#confirm_box, #ok_box').hide();
                                    })
                                    $(function () {
                                        $('#modal').modal('hide');
                                    });
                                
                                </script>
                                <main class="ng-scope">
                                
                                    <div class="container-fluid">
                                        <div class="row page-wrapper-topbar align-items-center">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <input type="button" class="btn btn-primary pull-right" onclick="tableToExcel('datatable', 'Download')" value="Export to Excel">
                                            </div>
                                            <div class="col">
                                                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                                            </div>
                                            <!-- <a href="#!/add_Affiliate" class="btn theme-btn" ng-click="clear()">Create Affiliate</a> -->
                                        </div><br>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <table id="datatable" class="table datatable-style-1" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>Name</th>
                                                            <th>Ref</th>
                                                            <th>Email</th>
                                                            <th>Created Date</th>
                                                            <th>Action</th>
                                
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">1</td>
                                                            <td class="ng-binding">esimdb</td>
                                                            <td class="ng-binding">ref=esimdb</td>
                                                            <td class="ng-binding">support@esimdb.com</td>
                                                            <td class="ng-binding"></td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">2</td>
                                                            <td class="ng-binding">esims.io</td>
                                                            <td class="ng-binding">ref=esims.io</td>
                                                            <td class="ng-binding">valentin@esims.io</td>
                                                            <td class="ng-binding"></td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">3</td>
                                                            <td class="ng-binding">esim.co.il</td>
                                                            <td class="ng-binding">ref=esim.co.il</td>
                                                            <td class="ng-binding">support@esim.co.il</td>
                                                            <td class="ng-binding"></td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">4</td>
                                                            <td class="ng-binding">ivisitkorea</td>
                                                            <td class="ng-binding">ref=ivisitkorea</td>
                                                            <td class="ng-binding">jay@ivisitkorea.com</td>
                                                            <td class="ng-binding">06-Sep-2022</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">5</td>
                                                            <td class="ng-binding">esimradar</td>
                                                            <td class="ng-binding">ref=esimradar</td>
                                                            <td class="ng-binding">esimradar@gmail.com</td>
                                                            <td class="ng-binding">09-Nov-2022</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">6</td>
                                                            <td class="ng-binding">esimlist</td>
                                                            <td class="ng-binding">ref=esimlist</td>
                                                            <td class="ng-binding">office@webdisplay.ro</td>
                                                            <td class="ng-binding">21-Dec-2022</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">7</td>
                                                            <td class="ng-binding">travel.de</td>
                                                            <td class="ng-binding">ref=travel-dealz.de</td>
                                                            <td class="ng-binding">info@travel-dealz.de</td>
                                                            <td class="ng-binding">09-Jan-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">8</td>
                                                            <td class="ng-binding">travel.eu</td>
                                                            <td class="ng-binding">ref=travel-dealz.eu</td>
                                                            <td class="ng-binding">info@travel-dealz.eu</td>
                                                            <td class="ng-binding">09-Jan-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">9</td>
                                                            <td class="ng-binding">esimroamers</td>
                                                            <td class="ng-binding">ref=esimroamers</td>
                                                            <td class="ng-binding">giroux.mel@gmail.com</td>
                                                            <td class="ng-binding">21-Jan-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">10</td>
                                                            <td class="ng-binding">Twoticketsanywhere</td>
                                                            <td class="ng-binding">ref=twoticketsanywhere</td>
                                                            <td class="ng-binding">matthew@twoticketsanywhere.com</td>
                                                            <td class="ng-binding">03-Feb-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">11</td>
                                                            <td class="ng-binding">conexion</td>
                                                            <td class="ng-binding">ref=conexion</td>
                                                            <td class="ng-binding">jesus.salas@mail.com</td>
                                                            <td class="ng-binding">20-Feb-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">12</td>
                                                            <td class="ng-binding">phonetravelwiz</td>
                                                            <td class="ng-binding">ref=phonetravelwiz</td>
                                                            <td class="ng-binding">adu@aduable.ee</td>
                                                            <td class="ng-binding">22-Feb-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist --><tr ng-repeat="e in affiliatelist" class="ng-scope">
                                                            <td class="ng-binding">13</td>
                                                            <td class="ng-binding">Claire</td>
                                                            <td class="ng-binding">ref=clairesitchyfeet.com</td>
                                                            <td class="ng-binding">claire@clairesitchyfeet.com</td>
                                                            <td class="ng-binding">23-Feb-2023</td>
                                
                                
                                                            <td style="width:20%">
                                                                <div class="dropdown">
                                                                    <button class="btn " type="button" id="dropdownMenuAction" data-toggle="dropdown" aria-expanded="false">
                                                                        <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path></svg><!-- <i class="fas fa-ellipsis-h"></i> Font Awesome fontawesome.com -->
                                                                    </button>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuAction">
                                                                        <li><a class="dropdown-item" ng-click="View(e);"><i class="lni lni-pencil"></i>Edit</a></li>
                                
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr><!-- end ngRepeat: e in affiliatelist -->
                                
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                
                                   
                                </main>
                                
                                <!-- <div class="alert_box" id="confirm_box">
                                                <div class="alert_content">
                                                        <div class="alert_img"><img src="./assets/images/facial_img_1.png"></div>
                                                        <div class="alert_msg">
                                                            <h2>Are you sure you wish to perform this action?</h2>
                                                            <ul class="alert_btns">
                                                                <li><button class="btn_red" id="confirm_btn">CONFIRM</button></li>
                                                                <li><button class="btn_gray" id="cancel_btn">CANCEL</button></li>
                                                            </ul>
                                                        </div>
                                                </div>
                                            </div>-->
                                
                                <!--  </div>-->
                                
                                
                                
                                </div>
                        </div></div></div></div></div></div></div></section></main>